# Telegram bot token
TELETOKEN=

# File server URL (internal, used by the bot to fetch caption)
FILE_SERVER_URL=https://localhost:8443/api/reel

# Public server URL (external, used by the bot to fetch video)
PUBLIC_SERVER_URL=https://localhost:8443/api/reel

### enironment for tests ###

# For testing purposes, you can use the same token.
TELETOKEN_TEST=
# Telegram chat id for testing (replace with your own Telegram ID for actual tests)
TELEGRAM_ID_TEST=           