# Telegram bot token
TELETOKEN=
FILE_SERVER_URL=https://localhost:8443/api/reel

### enironment for tests ###

# For testing purposes, you can use the same token.
TELETOKEN_TEST=
# Telegram chat id for testing (replace with your own Telegram ID for actual tests)
TELEGRAM_ID_TEST=           